
module rsyslogd 1.0;

require {
	type syslogd_t;
	type auditd_log_t;
	class dir { getattr search };
	class file { getattr ioctl open read };
}

#============= syslogd_t ==============
allow syslogd_t auditd_log_t:dir search;

#!!!! This avc is allowed in the current policy
allow syslogd_t auditd_log_t:dir getattr;
allow syslogd_t auditd_log_t:file { getattr ioctl open read };
