[mysqld]
server_id=1
#gtid_mode=ON
#enforce_gtid_consistency=ON
datadir=/var/lib/mysql
port=3306
socket=mysql.sock
pid-file=mysql.pid
default_storage_engine=InnoDB
log_slave_updates=ON

slow_query_log=1
slow_query_log_file=mysql-slow.log
long_query_time=1

#general_log=1
#general_log_file=mysql-general.log

log-bin=mysql-bin
expire_logs_days=7
innodb_buffer_pool_size=536870912
skip_name_resolve=ON
report_host=mysql-a

query_cache_size=32M
query_cache_type=1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

[mysql]
socket=/var/lib/mysql/mysql.sock
port=3306
